@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --window-min-width: 320px;
}

@layer base {
  html, body, #app {
    @apply dark:text-zinc-300 dark:bg-zinc-800 text-zinc-800 bg-zinc-100;
    @apply h-full w-full m-0;
    min-width: var(--window-min-width);
  }
  #app {
    @apply flex;
  }
}

:root {
  font-family: Consolas, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*禁止浏览器自动合成 粗体/斜体，确保字体显示一致。*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
